.advantages__subtitle {
    margin-bottom: 150px;
}

.advantages__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 150px;
}

.advantages__column {
    width: 100%;
}

.advantages__column-title {
    font-size: 56px;
    margin-bottom: 24px;
}

.advantages__column-subtitle {
    font-size: 16px;
    line-height: 150%;
}

.advantages__list {
    position: relative;
    background-color: var(--item-color);
    padding: 32px;
    border-radius: 16px;
}
.advantages__list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: -70%;

    background-image: url(../img/frame_1.png);
    pointer-events: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.advantages__list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -50%;
    top: -50%;
    z-index: -1;

    background-image: url(../img/frame_2.png);
    pointer-events: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: rotate 6s linear infinite;
}

.advantages__list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 8px;
    column-gap: 20px;
}

.advantages__list-item:first-child {
    padding-bottom: 32px;
    position: relative;
}
.advantages__list-item:last-child {
    padding-top: 32px;
}

.advantages__list-item:first-child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 0;
    opacity: 0.12;
}

.advantages__list-item svg {
    grid-column: 1/2;
    grid-row: 1/-1;
}

.advantages__name {
    grid-column: 2/3;
    grid-row: 1/2;

    font-size: 24px;
}

.advantages__content {
    grid-column: 2/3;
    grid-row: 2/3;

    font-size: 18px;
}

.advantages__item:last-child .advantages__list::after {
    top: auto;
    right: auto;
    bottom: -50%;
    left: -50%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .advantages__item {
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
    }
    .advantages__list::after {
        display: none;
    }
    .advantages__list-item {
        grid-template-rows: auto auto;
        row-gap: 20px;
    }
}

@media (max-width: 575px) {
    .advantages__content {
        grid-column: 1/-1;
    }
    .advantages__column-title {
        font-size: 42px;
    }
    .advantages__subtitle {
        margin-bottom: 40px;
    }
    .advantages__item {
        margin-bottom: 30px;
        gap: 40px;
    }
}