.cta {
    padding: 80px 0;
}

.cta__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px;
}

.cta__item {
    width: 100%;
}

.cta__title {
    font-family: Urbanist;
    font-size: 56px;
    margin-bottom: 24px;
}

.cta__subtitle {
    font-family: Urbanist;
    font-size: 16px;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .cta__title {
        font-size: 28px;
    }
    
    .cta__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cta__img {
        width: 100%;
        max-width: 300px;
    }
    .cta {
        padding: 30px 0;
    }
}
