* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #FF3BFF;
    --secondary-color: #7534FF;
    --bg-color: #01000E;
    --item-color: #181924;
}

body {
    background-color: var(--bg-color);
    color: #fff;
    font-family: "Manrope", sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;

}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: "Urbanist", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-align: center;

    background: linear-gradient(90deg, #4E4BE4 24.42%, #E862FE 73.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    margin-top: 0;
}

.subtitle {
    font-family: "Urbanist", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

.button {
    border-radius: 30px;
    background: #4F4CE5;
    padding: 15px 30px;
    
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.button:hover {
    background: var(--accent-color);
}

@media (max-width: 780px) {
    .wrapper {
        padding: 0 20px;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 22px;
    }
}