.header {
    padding: 16px 0;
    margin-bottom: 80px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo span {
    font-family: "Urbanist", sans-serif;
    font-size: 25px;
    font-weight: 600;

    background: linear-gradient(90deg, #5350F6 2.42%, #E662FE 104.13%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.header__link {
    transition: all 0.2s ease-in-out;
}

.header__link:hover {
    color: var(--accent-color);
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
}

.header__cta {
    border-radius: 50px;
    background: var(--secondary-color);
    padding: 15px 20px;
}

@media (max-width: 600px) {
    .header__list {
        display: none;
    }
    .header {
        margin-bottom: 30px;
    }
}