@import url(normalize.css);
@import url(global.css);
@import url(header.css);
@import url(promo.css);
@import url(advantages.css);
@import url(modes.css);
@import url(cta.css);
@import url(test.css);
@import url(shop.css);
@import url(pre-footer.css);
@import url(footer.css);
@import url(contact.css);