.test {
    padding: 80px 0;
}

.test__title {
    margin-bottom: 64px;
}

.test__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.test__item {
    padding: 32px;
    background-color: var(--item-color);
    border-radius: 30px;
    max-width: 400px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.test__item:hover {
    border: 2px solid var(--accent-color);
}

.test__author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test__content {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 150%;
}

.test__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.author__info p:first-child {
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
}
.author__info p:last-child {
    font-family: Urbanist;
    font-size: 12px;
    line-height: 150%;
}

.test__list {
    position: relative;
}

.test__list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -50%;
    top: -50%;
    z-index: -1;

    background-image: url(../img/frame_2.png);
    pointer-events: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: rotate 6s linear infinite;
}
.test__list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -50%;
    bottom: -50%;
    z-index: -1;

    background-image: url(../img/frame_2.png);
    pointer-events: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: rotate 6s linear infinite;
}

@media (max-width: 1200px) {
    .test__list {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .test__list::before, .test__list::after {
        display: none;
    }
}

@media (max-width: 575px) {
    .test__stars {
        display: none;
    }
    .test__list::before, .test__list::after {
        display: none;
    }
    .test {
        padding: 20px 0;
    }
    .test__title {
        margin-bottom: 20px;
    }
    .test__list {
        gap: 20px;
    }
}

